	/***************/
 /* START RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before,
q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video {
	display: block;
}
	/***************/
 /*  END RESET  */
/***************/

/* Original CSS */

body {
	background: white;
	text-align: center;
	/* background: white url("images/background.gif") no-repeat right bottom; */
}

li a {
	color: green;
}

/* Additional Page Styles */

header {
  text-align: center;
  background: url('https://upload.wikimedia.org/wikipedia/en/7/77/Dark,_Clouds.JPG');
  background-size: cover;
  color: white;
}

header h1 {
  font-size: 70px;
}

header img {
  margin: 40px 0px 0px 0px;
}

header ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);	
}

header ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

a {
  color: white;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}

