{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'feedback/style.css' %}" />

<!-- <h1>{{ question.question_text }}</h1>
<ul>
{% for answer in question.answer_set.all %}
    <li>{{ answer.answer_text }}</li>
{% endfor %}
</ul> -->

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'feedback:answer' question.id %}" method="post">
{% csrf_token %}
{% for answer in question.answer_set.all %}
    <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
    <label for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br />
{% endfor %}
<input type="submit" value="Answer" />
</form>