li {
    list-style: none;
    padding-bottom: 10px;
}

li a{
    color: black;
    text-decoration: none;
}

body::after {
  content: "";
  background: url(images/background.gif) no-repeat right bottom;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

input[type=submit] {
  border: 1px solid #bbb;
  margin: 20px 20px 0 20px;
  background: #DE5A51;
  padding: 6px 20px;
  cursor: pointer;
}

.container {
  /*border: 1px solid black;*/
  width: 70%;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.question {
  /*border: 1px solid black;*/
  padding: 20px 20px 0 0;
}

h3{
  margin-top: 50px;
  margin-left: 42px;
}